/*CUERPO*/
body {
    background-color: lightgray;
    margin: 10px;
}

/*ENCABEZADO*/
.encabezado {
    background-color: whitesmoke;
    height: 80px;
    border: solid black 2px;
    border-radius: 100px;
    margin: 10px;
}

.titulo {
    text-align: center;
}

/*CONTENEDOR PRINCIPAL*/
.contenedor-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    border: solid black 2px;
    margin: 10px;
    height: 600px;
    border-radius: 20px;
}

/*IMAGEN*/
.imagen-personal {
    background-color: bisque;
    width: 300px;
    height: 300px;
    border: solid black 2px;
    border-radius: 20px;
    margin: 20px;
}

/*CONTENEDOR SECUNDARIO*/
.contenedor-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    font-size: small;
    margin: 20px;
    border: solid black 2px;
    border-radius: 20px;
}

.pie-pagina {
    margin: 10px 10px 10px 10px;
}